.pieContainer {
    height : 100px;
    width: 100px;
    position: relative;
    margin: auto;
}

.pieBackground {
    background-color :gray;
    position : absolute;
    height: 100%;
    width: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
}

.pieContainer .pie-right {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    clip: rect(0px, 100px, 100px, 50px);
}

.pieContainer .pie-left {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    clip: rect(0px, 50px, 100px, 0px);
}

.pieContainer .pie-left .pie {
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(0px, 100px, 100px, 50px);
    border-radius: 100%;
}

.pieContainer .pie-right .pie {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    clip: rect(0px, 50px, 100px, 0px);
}

.slice-form {
    margin-top: 10px;
    margin-bottom: 10px;
}

.separator {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    border-top: 2px solid #9b9b9b;
    max-width: 1000px;
}

.centered {
    text-align: center;
}

#radius-input-field {
    width: 300px;
}